
<div class="user__container">
  <%= render "shared/second_header" %>

<div class="main">
  <div class="inner">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
       </div>

      <div class="post-img-content">
      <%= link_to image_tag @user.profile_image, class: "profile-box-img" %>
          </div>

       <div class="user__wrapper">
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">お住まいの地域</th>
            <td class="table__col2"><%= @user.region.name %></td>
          </tr>
          <tr>
            <th class="table__col1">自己紹介</th>
            <td class="table__col2"><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>

<div class="tab-buttons">
  <!-- ユーザー編集 & 削除ボタン -->
  <% if @user == current_user %>
    <div class="user-actions">
      <%= link_to "ユーザー情報を編集する", edit_user_path(@user), class: "user-edit-btn" %>
      <%= link_to "削除する", user_path(@user), data: { turbo_method: :delete }, class: "user-destroy" %>
    </div>
  <% end %>
    </div>

  <!-- タブボタン -->
  <div class="tab-links">
    <%= link_to "投稿", url_for(controller: "users", action: "show", id: @user.id, tab: "posts"), class: "tab-btn #{params[:tab] == 'posts' || params[:tab].blank? ? 'active' : ''}" %>
    <%= link_to "お気に入り投稿", url_for(controller: "users", action: "show", id: @user.id, tab: "favorite-posts"), class: "tab-btn #{params[:tab] == 'favorite-posts' ? 'active' : ''}" %>
    <%= link_to "お気に入り商品", url_for(controller: "users", action: "show", id: @user.id, tab: "favorite-items"), class: "tab-btn #{params[:tab] == 'favorite-items' ? 'active' : ''}" %>
</div>


 <!-- 投稿一覧 -->
 <% if params[:tab] == 'posts' || params[:tab].blank? %>
  <div class="tab-content active">
      <div class="user__card">
        <%= render partial: 'posts/post', collection: @user.posts %>
       </div>
  </div>
  <% end %>

<!-- お気に入りした投稿 -->
<% if params[:tab] == 'favorite-posts' %>
  <div class="tab-content active">
    <div class="user__card">
      <%= render partial: 'posts/post', collection: @favorite_posts.map(&:favoritable) %>
    </div>
  </div>
<% end %>

<!-- お気に入りした商品 -->
<% if params[:tab] == 'favorite-items' %>
  <div class="tab-content active">
    <div class="user__card">
      <%= render partial: 'items/item', collection: @favorite_items.map(&:favoritable) %>
    </div>
  </div>
<% end %>
      </div>
            </div>