  <%= render "shared/seven_header" %>

  <div class="messages">
  <%= render partial: 'rooms/message', collection: @messages, as: :message %>
      </div>

  <%= form_with model: [@room, @message], local: true do |f| %>
  <div class="form-input">
        <%= f.text_area :message, class: 'form-message', placeholder: "メッセージを入力してください" %>
    <label class="form-image">
      <%= f.file_field :message_image, id:"message-image" %> 
    </label>
    <div class="form-buttons">
    <%= f.submit "送信", class: 'form-submit' %>
     <%= link_to 'もどる', post_path(@post), class:"navigate-back" %>
  </div>
<% end %>