<div class="item__container">
<%= render "shared/five_header" %>

<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <h2 class="page-title">こんにちは
        <%= link_to "#{current_user.nickname} さん", user_path(current_user), class: :login__link%></h2>
        <p>こちらでは動物に関する様々なアイテムを購入いただけます</p>
        <p>お好みのアイテムをお選びください</p>
      </div>
    <% end %>

     <!-- 通常の投稿を上部にのみ表示 -->
    <div class="card__wrapper">
      <%= render partial: 'item', collection: @items, as: :item %>
    </div>
    </div>
  </main>


   <div class="search-page">
  <h3> 🐈‍⬛ 検索ページ 🔍</h3>
   </div>

   <div class='item-contents' id="detailed-search-result-wrapper">
   <%= search_form_for @q, url: search_items_path, html: { id: "detailed-search-form" } do |f| %>

   <div class="search-field">
   <%= f.label :item_category_cont, '【 カテゴリー 】' %><p>
   <%= f.collection_check_boxes :item_category_id_in, ItemCategory.where.not(name: '---'), :id, :name %></p>
   </div>

  <div class="search-field">
   <%= f.label :address_cont, '【 発送までの日数 】' %><p>
   <%= f.collection_check_boxes :shipping_days_id_in, ShippingDays.where.not(name: '---'), :id, :name %></p>
   </div>

   <div class="search-field">
      <%= f.label :price_gteq, '【 価格 】'%>
      <br>
      <%= f.number_field :price_gteq %> 円以上
      <br>
      <%= f.number_field :price_lteq %> 円以下
   </div>

   <div class="search-field">
   <%= f.submit '検索' %>
   </div>
   <% end %>
   </div>

<ul>
  <% filtered_items = @search_results.present? ? @search_results.reject { |item| item.purchases.present? } : [] %>
  <% if filtered_items.any? %>
    <% filtered_items.each do |item| %>
      <li class="list">
        <div class="posted-content">
          <%= link_to (image_tag item.item_image, class: :card__img), item_path(item) %>

          <% if item.purchases.present? %>
            <div class="found-home-second">
              <span>準備中です</span>
            </div>
          <% end %>

          <div class="card__body">
            <span class="card__title"><p>商品名：<%= link_to item.name, item_path(item)%></p></span>
            <span class="card__address"><p>カテゴリー：<%= link_to item.item_category.name, item_path(item) %></p></span>
          </div>
        </div>
      </li>
    <% end %>
  <% else %>
    <p class="no-results-msg">該当する商品はありませんでした</p>
  <% end %>
</ul>

        <footer class="footer">
      <p class="copyright">Copyright © Find a family All rights reserved.</p>
    </footer>
</div>