<div class="show__container">
<%= render "shared/eight_header" %>

  <div class="post-show">
  <div class="post-box">
    <h2 class="title_name">
      <%= @item.name %>
    </h2>

    <%= render partial: "items/favorite", locals: { item: @item } %>

    <div class="post-img-content">
      <%= link_to image_tag @item.item_image, class: "item-box-img" %>

          <% if @item.purchases.present? %>
          <div class='found-home'>
            <span>完売しました</span>
          </div>
          <% end %>

      <div class="post-explain-box">
      </div>

      <table class="detail-table">
        <tbody>

            <tr>
            <th class="detail-post">出品者</th>
            <td class="detail-value"><%= @user.nickname %></td>
          </tr>


          <tr>
            <th class="detail-post">商品名</th>
            <td class="detail-value"><%= @item.name %></td>
          </tr>

          <tr>
            <th class="detail-post">商品詳細</th>
            <td class="detail-value"><%= @item.description %></td>
          </tr>

          <tr>
            <th class="detail-post">カテゴリー</th>
            <td class="detail-value"><%= @item.item_category.name %></td>
          </tr>
          
          <tr>
            <th class="detail-post">配送料の負担</th>
            <td class="detail-value"><%= @item.shipping_fee.name %></td>
          </tr>
          
          <tr>
            <th class="detail-post">発送日数</th>
            <td class="detail-value"><%= @item.shipping_days.name %></td>
          </tr>

          <tr>
            <th class="detail-post">販売価格</th>
            <td class="detail-value"><%= @item.price %>円</td>
          </tr>
        </tbody>
      </table>

<% if user_signed_in? %>
<!-- 完売しており、出品者以外のユーザーが商品ページを見ている場合 -->
   <% if @item.purchases.present? && current_user != @item.user %>
    <%= link_to 'TOPページに戻る', items_path, class: "back-to-top-btn" %>

    <!-- 購入済みの商品ページの場合 -->
    <% elsif @item.purchases.present? && current_user == @item.user %>
    <div class="actions">
      <%= link_to "削除する", item_path(@item), data: { turbo_method: :delete }, class: "back-to-top-btn delete-btn" %>
    </div>
    <!-- 出品者が自分の商品ページを見ている場合 -->
  <% elsif current_user == @item.user %>
    <div class="edit-delete-buttons">
      <%= link_to "投稿を編集する", edit_item_path(@item), class: "post-red-btn" %>
      <%= link_to "削除する", item_path(@item), data: { turbo_method: :delete }, class: "post-destroy" %>
    </div>
  <% else %>
    <!-- 出品者以外のユーザーがまだ購入していない商品ページを見ている場合 -->
    <div class="item-buy-buttons">
      <%= link_to "購入画面に進む", item_purchases_path(@item), data: { turbo: false }, class: "post-buy-btn" %>
    </div>
  <% end %>
<% end %>
    </div>
</div>
</div>
</div>