 <%= render "shared/fourth-header" %>

  <div class="post-show">
  <div class="post-box">
    <h2 class="title_name">
      <%= @post.title %>
    </h2>
    <div class="post-img-content">
      <%= link_to image_tag @post.animal_image, class: "item-box-img" %>

      <% if @post.adoption.present? %>
        <div class="found-home">
          <span>💕家族が見つかりました💕</span>
        </div>
      <% end %>

      <div class="post-explain-box">
      </div>

      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-post">投稿者</th>
            <td class="detail-value"><%= @post.user.nickname %></td>
          </tr>
          <tr>
            <th class="detail-post">タイトル</th>
            <td class="detail-value"><%= @post.title %></td>
          </tr>
          <tr>
            <th class="detail-post">カテゴリー</th>
            <td class="detail-value"><%= @post.category.name %></td>
          </tr>
          <tr>
            <th class="detail-post">種類</th>
            <td class="detail-value"><%= @post.animal_type %></td>
          </tr>
          <tr>
            <th class="detail-post">年齢</th>
            <td class="detail-value"><%= @post.age %></td>
          </tr>

          <tr>
            <th class="detail-post">性別</th>
            <td class="detail-value"><%= @post.gender.name %></td>
          </tr>

          <tr>
            <th class="detail-post">性格</th>
            <td class="detail-value"><%= @post.personality %></td>
          </tr>

          <tr>
            <th class="detail-post">保護や譲渡の場所</th>
            <td class="detail-value"><%= @post.address %></td>
          </tr>

          <tr>
            <th class="detail-post">詳細情報</th>
            <td class="detail-value"><%= @post.description %></td>
          </tr>
        </tbody>
      </table>

          <%= link_to 'TOPページに戻る', root_path, class: "back-to-top-btn" %>

      <% if user_signed_in? %>
        <% unless @post.adoption.present? %>
          <% if current_user == @post.user %>
            <div class="edit-delete-buttons">
              <%= link_to "投稿を編集する", edit_post_path(@post), method: :get, class: "post-red-btn" %>
              <%= link_to "削除する", post_path(@post), data: { turbo_method: :delete }, class: "post-destroy" %>
              <%=link_to 'もどる', root_path, class:"back-second-btn" %>
            </div>
          <% end %>
        <% end %>
      <% end %>

  <div class="comment-box">
    <% if user_signed_in? && current_user != @post.user %> 
    <%= form_with model: [@post, @comment], local: true do |f| %>

      <div class="field">
        <%= f.label :content, "コメント", class: "comment-container" %><br />
        <ul class="comments_lists">
    <% @comments.each do |comment| %>
      <li class="comments_list">
        <%= comment.content %>
        <% if comment.comment_image.attached? %>
          <%= image_tag comment.comment_image, class: "comment_image" %>
        <% end %>
        <%= link_to "（#{comment.user.nickname}）", user_path(comment.user), class: :comment_user %>
      </li>
    <% end %>
     </ul>
        <%= f.text_area :content, class: "comment-text" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
        </p>
      </div>
      <div class="click-upload">
        <%= f.file_field :comment_image, id: "comment-image" %>
      </div>
      <div class="actions">
        <%= f.submit "送信する", class: "comment-btn" %>
        <%=link_to 'TOPにもどる', root_path, class:"comment-btn back-btn" %>
      </div>
    <% end %>
  <% end %>
</div>
